@import "../../variables"

.logo
  max-width: 64px
  height: 32px

.header
  min-width: 100%
  max-width: 100%
  padding: 22px 22.5px 0 22.5px
  display: flex
  justify-content: space-between

  @media screen and (min-width: $sm)
    padding: 22px 42px 0 42px
  @media screen and (min-width: $md)
    padding: 28px 52px 0 52px
  @media screen and (min-width: $lg)
    padding: 36px 74px 0 74px
  @media screen and (min-width: $xl)
    padding: 44px 96px 0 96px