.footer
  min-width: 100%
  background-color: #333333
  padding: 49px

.paragraph
  width: 340px
  font-size: 14px
  line-height: 1.6
  text-align: center
  color: #FFFFFF
  margin-bottom: 30px

.link
  color: #adcce9

.link:hover
  color: #E0E5EB