@import "reset.css";

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
  max-width: 100%;
  min-width: 100%;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.wrapper{
  margin: 0 42.5px;
  color: #111111;
}